/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 29 oct 2024, 18:56:13
    Author     : PERSONAL
*/

h1{
    font-size: 10rem;
    color: blue;
    font-weight: 900;
}

p{
    text-transform: capitalize;
    color: #3a3a3a;
    font-size: 3rem;
}
